[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "oh-my-zsh/custom/plugins/ls"]
	path = oh-my-zsh/custom/plugins/ls
	url = https://github.com/zpm-zsh/ls
[submodule "oh-my-zsh/custom/plugins/nord-extended"]
	path = oh-my-zsh/custom/plugins/nord-extended
	url = https://github.com/fxbrit/nord-extended
[submodule "oh-my-zsh/custom/plugins/zsh-autocomplete"]
	path = oh-my-zsh/custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "oh-my-zsh/custom/plugins/dircolors-neutral"]
	path = oh-my-zsh/custom/plugins/dircolors-neutral
	url = https://github.com/zpm-zsh/dircolors-neutral
[submodule "oh-my-zsh/custom/plugins/theme-neutral"]
	path = oh-my-zsh/custom/plugins/theme-neutral
	url = https://github.com/zpm-zsh/theme-neutral
[submodule "oh-my-zsh/custom/plugins/copy-pasta"]
	path = oh-my-zsh/custom/plugins/copy-pasta
	url = https://github.com/ChrisPenner/copy-pasta
[submodule "oh-my-zsh/custom/plugins/conda-zsh-completion"]
	path = oh-my-zsh/custom/plugins/conda-zsh-completion
	url = https://github.com/esc/conda-zsh-completion
[submodule "oh-my-zsh/custom/plugins/zsh-better-npm-completion"]
	path = oh-my-zsh/custom/plugins/zsh-better-npm-completion
	url = https://github.com/lukechilds/zsh-better-npm-completion
