[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "oh-my-zsh/custom/plugins/ls"]
	path = oh-my-zsh/custom/plugins/ls
	url = https://github.com/zpm-zsh/ls
[submodule "oh-my-zsh/custom/plugins/nord-extended"]
	path = oh-my-zsh/custom/plugins/nord-extended
	url = https://github.com/fxbrit/nord-extended
[submodule "oh-my-zsh/custom/plugins/zsh-autocomplete"]
	path = oh-my-zsh/custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "oh-my-zsh/custom/plugins/dircolors-neutral"]
	path = oh-my-zsh/custom/plugins/dircolors-neutral
	url = https://github.com/zpm-zsh/dircolors-neutral
[submodule "oh-my-zsh/custom/plugins/theme-neutral"]
	path = oh-my-zsh/custom/plugins/theme-neutral
	url = https://github.com/zpm-zsh/theme-neutral
[submodule "oh-my-zsh/custom/plugins/copy-pasta"]
	path = oh-my-zsh/custom/plugins/copy-pasta
	url = https://github.com/ChrisPenner/copy-pasta
[submodule "oh-my-zsh/custom/plugins/conda-zsh-completion"]
	path = oh-my-zsh/custom/plugins/conda-zsh-completion
	url = https://github.com/esc/conda-zsh-completion
[submodule "oh-my-zsh/custom/plugins/zsh-better-npm-completion"]
	path = oh-my-zsh/custom/plugins/zsh-better-npm-completion
	url = https://github.com/lukechilds/zsh-better-npm-completion
[submodule "oh-my-zsh/custom/plugins/alias-tips"]
	path = oh-my-zsh/custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "oh-my-zsh/custom/plugins/zsh-nvm"]
	path = oh-my-zsh/custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "tmux/plugins/tmux-easy-motion"]
	path = tmux/plugins/tmux-easy-motion
	url = https://github.com/IngoMeyer441/tmux-easy-motion
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/plugins/tmux-fuzzback"]
	path = tmux/plugins/tmux-fuzzback
	url = https://github.com/roosta/tmux-fuzzback
[submodule "tmux/plugins/tmux-kripto"]
	path = tmux/plugins/tmux-kripto
	url = https://github.com/vascomfnunes/tmux-kripto
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-window-name"]
	path = tmux/plugins/tmux-window-name
	url = https://github.com/ofirgall/tmux-window-name
[submodule "tmux/plugins/vim-tmux-navigator"]
	path = tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux"]
	path = tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
