[user]
	name = Myzel394
	email = 50424412+Myzel394@users.noreply.github.com
[core]
	autocrlf = input
    pager = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = false

